<%- partial('_partial/head') %>
<body>
  <div id="wrap">
    <div class="container">
      <%- partial('_partial/header') %>
      <div class="container" style="margin-top: 50px">
        <div class="row">
          <div class="col-9 col-md-9"><%- body %></div>
          <div class="col-3 col-md-3"><%- partial('_partial/sidebar') %></div>
        </div>
      </div>
    </div>
    <div id="push"></div>
  </div>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/after_footer') %>
</body>
</html>
