<%- partial('_partial/head') %>
<body>
  <div id="wrap">
    <div class="container">
      <%- partial('_partial/header') %>
      <div class="container" style="margin-top: 25px; margin-bottom: 25px;">
        <div class="row">
          <div class="span8"><%- body %></div>
          <div class="span1"></div>
          <div class="span3"><%- partial('_partial/sidebar') %></div>
        </div>
      </div>
    </div>
    <div id="push"></div>
  </div>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/after_footer') %>
</body>
</html>
