<% if (site.categories.length){ %>
<h3><%- __('categories') %></h3>
<div class="row">
  <ul class="list-group" style="list-style-type: none;box-sizing: border-box;">
<% site.categories.sort('name').each(function(item){ %>
    <li class="list-group-item"><span class="badge" style="float: right; margin-right: -15px"><%- item.posts.length %></span><a href="<%- config.root %><%- item.path %>"><%- item.name %></a></li>
<% }); %>
  </ul>
</div>
<% } %>
