<% if (site.tags.length){ %>
<h3 class="title"><%= __('tags') %></h3>
<div class="well" style="line-height:14pt">
<% site.tags.sort('name').each(function(item){ %>
  <% if (item.posts.length >= theme.tag_minium) { %>
  <a style="font-size: <%-((item.posts.length*6)+100)%>%" href="<%- config.root %><%- item.path %>"><%- item.name %></a>
  <% } %>
<% }); %>
</div>
<% } %>
