<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>
<div class="container">
<div class="row">
<div class="col-12 col-md-12">
  <h1><%- title %></h1>
<% if (pagination == 2){ %>
  <% page.posts.each(function(item){ %>
    <%- partial('article', {item: item, index: true}) %>
  <% }); %>
  <%- partial('pagination') %>
<% } else { %>
  <p>
  <% page.each(function(item){ %>
    <div class="icon"></div>
    <time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time>
    <% if (item.link){ %>
      <% if (item.title){ %>
        <h1 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></h1>
      <% } else { %>
        <h1 class="title link"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></h1>
      <% } %>
    <% } else { %>
      <h1 class="title"><a href="<%- config.root %><%- item.path %>"><%= item.title %></a></h1>
    <% } %>
  <% }); %>
  </p>
<% } %>
</div>
</div>
</div>
