<article class="<%= item.layout %>">
  <header>
    <div class="icon <%= item.layout %>"></div>
    <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
    <% if (item.title){ %>
    <h1 class="title"><a href="<%- item.permalink %>"><%= item.title %></a></h1>
    <% } %>
  </header>
  <div class="entry">
    <% if (item.excerpt && index){ %>
      <%- item.excerpt %>
    <% } else { %>
      <%- item.content %>
    <% } %>
    <footer>
      <% if (index){ %>
        <div class="alignleft">
          <a href="<%- item.permalink %>" class="more-link"><%= theme.excerpt_link %></a>
        </div>
        <div class="alignright">
          <a href="<%- config.url %><%- item.permalink %>#disqus_thread" class="comment-link">Comments</a>
        </div>
        <div class="clearfix"></div>
      <% } else { %>
        <% if (item.categories){ %>
          <%
          var cats = [];
          item.categories.forEach(function(cat){
            cats.push('<a href="' + cat.permalink + '">' + cat.name + '</a>');
          });
          %>
          <div class="categories">
            <%- cats.join(', ') %>
          </div>
        <% } %>
        <% if (item.tags){ %>
          <%
          var tags = [];
          item.tags.forEach(function(tag){
            tags.push('<a href="' + tag.permalink + '">' + tag.name + '</a>');
          });
          %>
          <div class="tags">
            <%- tags.join(', ') %>
          </div>
        <% } %>
      <% } %>
    </footer>
  </div>
</article>

<% if (page.comments){ %>
<%- partial('comment') %>
<% } %>