<article class="<%= item.layout %>">
  <header>
    <div class="icon <%= item.layout %>"></div>
    <% if (item.layout != 'page'){ %>
      <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
    <% } %>
    <% if (item.title){ %>
      <h1 class="title"><a href="<%- item.permalink %>"><%= item.title %></a></h1>
    <% } %>
  </header>
  <div class="entry">
    <% if (item.excerpt && index){ %>
      <%- item.excerpt %>
    <% } else { %>
      <%- item.content %>
    <% } %>
    <footer>
      <% if (index){ %>
        <div class="alignleft">
          <a href="<%- item.permalink %>" class="more-link"><%= theme.excerpt_link %></a>
        </div>
        <div class="alignright">
          <a href="<%- config.url %><%- item.permalink %>#disqus_thread" class="comment-link">Comments</a>
        </div>
      <% } else { %>
        <% if (item.categories){ %>
          <%
          var cats = [];
          item.categories.forEach(function(cat){
            cats.push('<a href="' + cat.permalink + '">' + cat.name + '</a>');
          });
          %>
          <div class="categories">
            <%- cats.join(', ') %>
          </div>
        <% } %>
        <% if (item.tags){ %>
          <%
          var tags = [];
          item.tags.forEach(function(tag){
            tags.push('<a href="' + tag.permalink + '">' + tag.name + '</a>');
          });
          %>
          <div class="tags">
            <%- tags.join(', ') %>
          </div>
        <% } %>
        <% if (theme.addthis.enable){ %>
          <div class="addthis addthis_toolbox addthis_default_style">
            <% if (theme.addthis.facebook){ %>
              <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
            <% } %>
            <% if (theme.addthis.twitter){ %>
              <a class="addthis_button_tweet"></a>
            <% } %>
            <% if (theme.addthis.google){ %>
              <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
            <% } %>
            <% if (theme.addthis.pinterest){ %>
              <a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
            <% } %>
            <a class="addthis_counter addthis_pill_style"></a>
          </div>
          <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js<% if (theme.addthis.pubid){ %>#pubid=<%= theme.addthis.pubid %><% } %>"></script>
        <% } %>
      <% } %>
      <div class="clearfix"></div>
    </footer>
  </div>
</article>

<% if (page.comments){ %>
<%- partial('comment') %>
<% } %>