<article class="<%= item.layout %>">
  <% if (item.photos){ %>
    <div class="gallery">
      <div class="photoset">
        <% if (item.photos.length){ %>
          <% item.photos.forEach(function(photo){ %>
            <img src="<%- photo %>">
          <% }); %>
        <% } else { %>
          <img src="<%- item.photos %>">
        <% } %>
      </div>
      <div class="control">
        <div class="prev"></div>
        <div class="next"></div>
      </div>
    </div>
  <% } %>
  <div class="post-content">
    <header>
      <% if (item.layout != 'page'){ %>
        <div class="icon"></div>
        <time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.permalink %>"><%= item.date.format(config.date_format) %></a></time>
      <% } %>
      <% if (item.link){ %>
        <% if (item.title){ %>
          <h1 class="title"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></h1>
        <% } else { %>
          <h1 class="title"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></h1>
        <% } %>
      <% } else { %>
        <% if (index){ %>
          <h1 class="title"><a href="<%- config.root %><%- item.permalink %>"><%= item.title %></a></h1>
        <% } else { %>
          <h1 class="title"><%= item.title %></h1>
        <% } %>
      <% } %>
    </header>
    <div class="entry">
      <% if (item.excerpt && index){ %>
        <%- item.excerpt %>
      <% } else { %>
        <%- item.content %>
      <% } %>
    </div>
    <footer>
      <% if (index){ %>
        <% if (item.excerpt){ %>
          <div class="alignleft">
            <a href="<%- config.root %><%- item.permalink %>#more" class="more-link"><%= theme.excerpt_link %></a>
          </div>
        <% } %>
        <div class="alignright">
          <a href="<%- config.url %>/<%- item.permalink %>#disqus_thread" class="comment-link">Comments</a>
        </div>
      <% } else { %>
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
        <%- partial('post/share') %>
      <% } %>
      <div class="clearfix"></div>
    </footer>
  </div>
</article>

<% if (page.comments){ %>
<%- partial('comment') %>
<% } %>