<div id="giscus_comment">
    <script src="https://giscus.app/client.js"
        data-repo="<%= theme.giscus.data_repo %>"
        data-repo-id="<%= theme.giscus.data_repo_id %>"
        data-category="<%= theme.giscus.data_category %>"
        data-category-id="<%= theme.giscus.data_category_id %>"
        data-mapping="<%= theme.giscus.data_mapping %>"
        data-strict="<%= theme.giscus.data_strict %>"
        data-reactions-enabled="<%= theme.giscus.reactions_enabled %>"
        data-emit-metadata="<%= theme.giscus.data_emit_metadata %>"
        data-input-position="<%= theme.giscus.data_input_position %>"
        data-theme="<%= theme.giscus.data_theme %>"
        data-lang="<%= config.language %>"
        data-loading="<%= theme.giscus.data_loading %>"
        crossorigin="<%= theme.giscus.crossorigin %>"
        async>
    </script>
</div>