<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = '';
  if (page.current) title += 'Page ' + page.current + ' | ';
  if (page.title) title += page.title;
  if (page.category) title += 'Category: ' + page.category;
  if (page.tag) title += 'Tag: ' + page.tag;
  if (page.year){
    title += 'Archive: ';
    if (page.month) title += page.year + '/' + page.month;
    else title += page.year;
  }
  if (title) title += ' | ' + config.title;
  else title += config.title;
  %>
  <title><%= title %></title>
  <% if (config.author){ %><meta name="author" content="<%= config.author %>"><% } %>
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } %>
  <% if (page.keywords){ %><meta name="keywords" content="<%= page.keywords %>"><% } %>
  <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">

  <link rel="alternate" href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= config.title %>" type="application/atom+xml">
  <link rel="stylesheet" href="<%- config.root %>css/style.css" media="screen" type="text/css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <%- partial('google_analytics') %>
</head>