<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%
  var title = [];
  if (page.current > 1) title.push(__('page', page.current));
  if (page.title) title.push(page.title);
  if (page.category) title.push(page.category);
  if (page.tag) title.push(page.tag);
  if (page.archive){
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
  }
  title.push(config.title);
  %>
  <title><%= title.join(' | ') %></title>
  <% if (config.author){ %><meta name="author" content="<%= config.author %>"><% } %>
  <% if (page.description){ %>
  <meta name="description" content="<%= page.description %>">
  <% } else if (config.description){ %>
  <meta name="description" content="<%= config.description %>">
  <% } else if (page.excerpt){ %>
  <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
  <% } else if (page.content){ %>
  <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
  <% } %>
  <% if (page.keywords){ %>
  <meta name="keywords" content="<%= page.keywords %>">
  <% } else if (config.keywords) { %>
  <meta name="keywords" content="<%= page.config %>">
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <% if (page.title){ %><meta property="og:title" content="<%= page.title %>"/><% } %>
  <meta property="og:site_name" content="<%= config.title %>"/>

  <% if(page.cover) { %>
    <meta property="og:image" content="<%= page.cover %>" />
  <% } else { %>
    <meta property="og:image" content="<%= config.cover %>"/>
  <% } %>

  <link href="<%- config.root %>favicon.png" rel="icon">

  <link rel="alternate" href="<% if (theme.rss){ %><%- theme.rss %><% } else { %><%- config.root %>atom.xml<% } %>" title="<%= config.title %>" type="application/atom+xml">

  <!--style>
    figure.highlight table tbody tr td.code {
      width: 100%
    }
  <% if (theme.widgets.indexOf('category') !== -1 ||
      theme.widgets.indexOf('tag') !== -1) { %>
    .list-group {
      list-style-type: none;
      padding-left: 10px;
      /* box-sizing: border-box; */
    }
    .list-group-item a {
      text-transform: capitalize;
    }
    .badge {
      float: right;
      margin-right: -15px;
    }
  <% } %>
  <% if (theme.footer_color){ %>
    #footer {
      background-color: <%-theme.footer_color%>;
    }
  <% } %>
  </style-->
  <% if (theme.bootstrap_css) { %>
  <link rel="stylesheet" href="<%-theme.bootstrap_css%>">
  <% } else { %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <% } %>
  <% if (theme.sticky_footer) { %>
  <!--link rel="stylesheet" href="<%-config.root%>css/sticky_footer.css"-->
<% } %>
<% if (theme.highlightjs) { %>
  <link rel="stylesheet" href="<%-config.root%>css/highlightjs/<%-theme.highlighjs%>.css">
<% } else { %>
  <link rel="stylesheet" href="<%-config.root%>css/highlightjs/github.css">
<% } %>

<% if (theme.gravatar) { %>
    <style>
      #gravatar_nav {
        margin-top: 10px;
        margin-bottom: -17px;
        margin-right: 10px;
        background: red;
        padding: 0;
         -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -khtml-border-radius: 8px;
        border-radius: 8px;
        overflow: hidden;
      }
      .navbar .brand {
        padding: 0px 20px 0px;
      }
    </style>
<% }%>
</head>
