<div class="navbar <% if (theme.bs_nav_inverse) { %>navbar-inverse <%}%>navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="<%- config.root %>"><%- config.title %></a>
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav">
        <% for (var i in theme.menu){ %>
          <li><a href="<%- theme.menu[i] %>"><%- i %></a></li>
        <% } %>
        </ul>
        <ul class="nav pull-right">
        <% if (theme.twitter && theme.twitter.username) { %>
          <li><a href="https://twitter.com/<%- theme.twitter.username %>">twitter</a></li>
        <% } else if (theme.twitter_id) { %>
          <li><a href="https://twitter.com/<%- theme.twitter_id %>">twitter</a></li>
        <% } %>
        <% if (theme.facebook_id) { %>
          <li><a href="https://www.facebook.com/<%- theme.facebook_id %>">facebook</a></li>
        <% } %>
        <% if (theme.linked_id) { %>
          <li><a href="http://www.linkedin.com/in/<%- theme.linkedin_id %>">linkedin</a></li>
        <% } %>
        <% if (theme.github_id) { %>
          <li><a href="https://github.com/jmervine<%- theme.twitter_id %>">github</a></li>
        <% } %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
